@import url("./general.css");

/* Hero Section */

.hero__section {
  background-image: url("/images/background__img.jpg");
  width: 100%;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero__section .hero--container {
  position: absolute;
  margin-left: 390px;
  top: 200px;
}
.hero--container h1,
.hero--container h4,
.hero--container a {
  color: #fff;
  z-index: 5;
}
.hero--container h4 {
  letter-spacing: 6px;
  text-transform: uppercase;
}

.hero--container h1 {
  font-size: 92px;
  text-transform: uppercase;
  max-width: 640px;
  font-weight: lighter;
}
.hero--container a {
  position: absolute;
  top: 350px;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  border: 1px solid #fff;
  padding: 8px 42px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.hero--container a:hover {
  background: #fff;
  color: rgb(154, 170, 52);
}

/* Plan Visit Div */
.plan--visit__div {
  position: relative;
  margin-left: 390px;
  margin-right: 390px;
  bottom: 150px;
}
.plan__visit--cont {
  position: absolute;
  right: 0;
  padding: 3rem;
  background: #fff;
  box-shadow: 1.25rem 1.375rem 4.75rem 0 rgba(0, 0, 0, 0.22);
  width: 40%;
  height: 19rem;
  text-align: center;
}
.plan__visit--cont h2 {
  font-size: 3.2rem;
}
.plan__visit--cont p {
  margin: 1rem 0;
}
.plan__visit--cont a {
  background: rgb(133, 148, 31);
  font-size: 1rem;
  padding: 0.65rem 1.5rem;
  text-transform: uppercase;
  color: #fff;
}

/* Second Section */
.second__section {
  margin-top: 15rem;
}
.second__section img {
  width: 100%;
}
.second__section .second__section--col2 {
  margin-left: 210px;
}
.second__section .second__section--col2 h2 {
  font-size: 4rem;
  font-weight: normal;
  width: 80%;
  line-height: 110%;
}
.second__section .second__section--col2 h4 {
  font-size: 1.4rem;
  margin-top: 3rem;
  line-height: 1.75;
  color: rgba(81, 80, 80, 1);
  font-family: "Poppins", sans-serif;
  width: 80%;
  font-weight: lighter;
}
.second__section .second__section--col2 p {
  margin-top: 2rem;
}

/* Third Section */
.third__section {
  margin-top: 8rem;
}
.third__section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.third__section--col1,
.third__section--col2 {
  flex: 1;
}
.third__section--col1 {
  margin-bottom: 3rem;
  text-align: center;
}
.third__section--col1 h2 {
  font-size: 3.3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.third__section--col2 {
  display: flex;
}
.third__section--col1 a {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: rgba(153, 168, 51, 1);
  border: 1px solid rgba(153, 168, 51, 1);
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.third__section--col1 a:hover {
  background: rgba(153, 168, 51, 1);
  color: #fff;
}
.third__section--col2 img {
  margin-left: 0.5rem;
  width: 95%;
  height: 100%;
}
.third__section--col2 #third__section--center {
  position: relative;
  top: 2rem;
}
.third__section--col2 .third__section--cases {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.third__section--col2 .third__section--cases::after {
  position: absolute;
  content: "";
  background: rgba(27, 28, 33, 1);
  width: 95%;
  height: 100%;
  left: 9.5px;
  top: 0;
  opacity: 0.3;
}
.third__section .person__info {
  margin-left: 0.5rem;
  position: absolute;
  bottom: 0;
  padding: 4rem 1.5rem 3rem;
  z-index: 5;
}
.third__section .person__title p {
  opacity: 0.65;
  text-transform: uppercase;
  text-shadow: 1px 1px 1.5rem rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 1);
  font-size: 10px;
}
.third__section .person__title h5 {
  color: #fff;
  font-size: 16px;
  text-shadow: 1px 1px 1.5rem rgba(0, 0, 0, 0.5);
  font-weight: normal;
  margin-top: 5px;
}

.third__section--col1 p {
  text-align: left;
  margin-bottom: 2rem;
}

/* Fourth Section */
.fourth__section {
  margin-top: 10rem;
}
.fourth__section .container {
  display: flex;
  justify-content: space-between;
}
.fourth__section--col1,
.fourth__section--col2 {
  flex: 1;
}
.fourth__section--col2 {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.fourth__section--col1 img {
  width: 100%;
  height: 50rem;
  object-fit: cover;
}

.fourth__section--col2 h2 {
  font-size: 4rem;
  position: relative;
  margin-left: 30%;
  padding-bottom: 2rem;
}

.fourth__section--col2 h2::after {
  content: "";
  display: inline-block;
  width: 4rem;
  position: relative;
  border-bottom: 3px solid rgba(153, 168, 51, 1);
  position: absolute;
  bottom: 0;
  left: 0;
}
.fourth__section--col2 h5 {
  margin-top: 2rem;
  font-size: 1.4rem;
  color: rgba(81, 80, 80, 1);
  margin-left: 30%;
  font-weight: normal;
  line-height: 1.6;
}
.fourth__section--col2 p {
  line-height: 1.75;
  margin-top: 2rem;
  color: rgba(81, 80, 80, 1);
  margin-left: 30%;
}

/* Fifth Section */
.fifth__section {
  margin-top: 8rem;
}
.fifth__section--col1,
.fifth__section--col2 {
  flex: 1;
}
.fifth__section--col1 h2 {
  font-size: 3rem;
  line-height: 1.25;
  color: rgba(27, 28, 33, 1);
  font-weight: normal;
  position: relative;
  padding-bottom: 2rem;
}
.fifth__section--col1 h2::after {
  content: "";
  display: inline-block;
  width: 4rem;
  position: relative;
  border-bottom: 3px solid rgba(153, 168, 51, 1);
  position: absolute;
  bottom: 0;
  left: 0;
}
.fifth__section--col1 p {
  margin-top: 2rem;
  line-height: 1.7;
  font-size: 1.3rem;
  color: rgba(81, 80, 80, 1);
  width: 75%;
  margin-bottom: 4rem;
}
.fifth__section--col1 a {
  color: rgba(153, 168, 51, 1);
  border: 1px solid rgba(153, 168, 51, 1);
  line-height: 1.25;
  font-size: 1rem;
  padding: 0.65rem 1.5rem;
  transition: all 0.3s ease;
  text-transform: uppercase;
}
.fifth__section--col1 a:hover {
  background: rgba(153, 168, 51, 1);
  color: #fff;
}
.fifth__section--col2 {
  box-shadow: 3px 0px 11px #6f6f6f87;
}

/* Seventh Section */
.seventh__section {
  background-image: url("/images/seventh__section--bg.JPG");
  margin-top: 8rem;
  padding: 144px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.seventh__section--col1 {
  flex: 2;
}
.seventh__section--col2 {
  flex: 1;
  margin-left: 10rem;
}
.seventh__section .container {
  display: flex;
}
.seventh__section--col1 {
  height: 500px;
  background: #fff;
}
.seventh__section--col2 h2 {
  font-size: 3.4rem;
  line-height: 1.25;
  font-weight: normal;
  color: #fff;
  margin-bottom: 3rem;
}
.seventh__section--col2 p {
  color: #fff;
  line-height: 1.75;
  font-family: "Poppins", sans-serif;
  margin-right: 5rem;
}

/* Eight Section */

.eight__section {
  margin-top: 5rem;
  position: relative;
}
.eight__section .container {
  flex-direction: column;
  justify-content: center;
  display: flex;
  width: auto !important;
  max-width: 100%;
  position: relative;
}
.eight__section h2 {
  position: relative;
  font-size: 5.5rem;
  padding-bottom: 2rem;
}
.eight__section h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
  width: 4rem;
  border-bottom: 3px solid rgba(153, 168, 51, 1);
}
.eight__section img {
  margin-top: 2rem;
  box-shadow: 1.25rem 1.375rem 4.75rem 0 rgba(0, 0, 0, 0.22) !important;
}

.eight__section h5 {
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 1.75;
  margin: 3rem 0;
  color: rgba(81, 80, 80, 1);
}
.eight__section--boxes--2 {
  margin-top: 2rem;
}

.eight__section--boxes--2 .eight__section--box:first-child,
.eight__section--boxes--1 .eight__section--box:first-child {
  margin-right: 2rem;
}
.eight__section--boxes--1,
.eight__section--boxes--2 {
  display: flex;
}
.eight__section--box {
  flex: 1;
}
.eight__section--box p {
  line-height: 1.75;
}
.eight__section--box h3 {
  color: rgba(27, 28, 33, 1);
  line-height: 1.25;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: normal;
}
.eight__section--boxes {
  margin: 0 390px;
}
.eight__section--box ul li {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.eight__section--box ul li a {
  margin-right: 8px;
  color: rgba(17, 135, 197, 1);
}

@media screen and (max-width: 1634px) {
  .plan__visit--cont {
    height: 25rem;
    padding: 0rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero__section .hero--container {
    margin-left: 200px;
  }
}

@media screen and (max-width: 1440px) {
  .fourth__section--col2 h2,
  .fourth__section--col2 h5,
  .fourth__section--col2 p {
    margin-left: 15%;
  }
  .fifth__section--col2 img {
    width: 90%;
  }
  .seventh__section--col1 {
    flex: 1;
  }
  .eight__section--boxes {
    margin: 0 80px;
  }
  .second__section .second__section--col2 h2,
  .second__section .second__section--col2 h4 {
    width: 100%;
  }
  .second__section .second__section--col2 {
    margin-left: 120px;
  }
}

@media screen and (max-width: 1350px) {
  .plan__visit--cont {
    top: 3rem;
    width: 100%;
    height: 16rem;
  }
}

@media screen and (max-width: 1230px) {
  .hero__section .hero--container {
    margin-left: 55px;
  }

  .second__section .second__section--col2 {
    margin-left: 80px;
  }
  .second__section .second__section--col2 h2,
  .third__section--col1 h2,
  .fourth__section--col2 h2,
  .seventh__section--col2 h2,
  .eight__section h2 {
    font-size: 3rem;
  }
  .second__section .second__section--col2 h4,
  .fourth__section--col2 h5,
  .fifth__section--col1 p {
    font-size: 1.2rem;
  }
  .plan__visit--cont h2 {
    font-size: 2rem;
  }
  .third__section .container {
    flex-direction: column;
  }
  .third__section--col1 h2 {
    width: 100%;
  }
  .third__section--col2 {
    margin-top: 4rem;
  }
  .third__section--col1 {
    text-align: center;
  }
  .fifth__section .container {
    flex-direction: column;
    text-align: center;
  }
  .fifth__section--col1 h2::after {
    left: 50%;
    transform: translate(-50%, 0);
  }
  .fifth__section--col2 {
    margin-top: 4rem;
  }
  .fifth__section--col1 p {
    margin-left: auto;
    margin-right: auto;
  }
  .eight__section img {
    width: 80%;
  }
}
@media screen and (max-width: 1024px) {
  .plan__visit--cont {
    display: none;
    pointer-events: none;
  }
  .hero--container h1 {
    font-size: 60px;
  }
  .hero--container h4 {
    font-size: 12px;
  }
  .hero--container a {
    top: 95px;
    font-size: 18px;
  }
  .fourth__section .container {
    flex-direction: column-reverse;
  }
  .fourth__section--col2 {
    align-items: center;
  }
  .fourth__section--col2 h2,
  .fourth__section--col2 h5,
  .fourth__section--col2 p {
    margin-left: 0;
    text-align: center;
    width: 80%;
  }
  .fourth__section--col2 h2::after {
    left: 50%;
    transform: translate(-50%, 0);
  }
  .fourth__section--col1 {
    margin-top: 4rem;
  }
  .second__section {
    margin-top: 4rem;
  }
  .second__section .container {
    flex-direction: column-reverse;
  }
  .second__section .second__section--col2 {
    margin-left: 0;
    text-align: center;
  }
  .second__section img {
    width: 60%;
  }
  .second__section--col1 {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }
  .second__section .second__section--col2 h2,
  .third__section--col1 h2,
  .fourth__section--col2 h2,
  .seventh__section--col2 h2,
  .eight__section h2 {
    font-size: 2.2rem;
  }

  .seventh__section--col1 {
    flex: none;
    width: 70%;
    margin-top: 2rem;
  }
  .seventh__section .container {
    flex-direction: column-reverse;
  }
  .seventh__section--col2 {
    flex: 0;
    margin-left: 0;
    text-align: center;
  }
  .seventh__section--col2 p {
    margin-right: 0;
  }
  .eight__section--boxes--1,
  .eight__section--boxes--2 {
    flex-direction: column;
  }
  .eight__section--box {
    margin-top: 2rem;
  }
  .eight__section--boxes--2 {
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .third__section--col2 #third__section--center {
    display: none;
  }
  .hero--container a {
    top: 200px;
  }

  @media screen and (max-width: 550px) {
    .third__section--col2 .third__section--cases:first-child {
      display: none;
    }
  }

  @media screen and (max-width: 425px) {
    .hero__section .hero--container {
      margin-left: 10px;
    }
    .second__section img {
      width: 90%;
    }
    .fifth__section--col1 p {
      width: 100%;
    }
    .second__section .second__section--col2 h2,
    .third__section--col1 h2,
    .fourth__section--col2 h2,
    .seventh__section--col2 h2,
    .eight__section h2,
    .fifth__section--col1 h2 {
      font-size: 1.5rem;
    }
    .second__section .second__section--col2 h4,
    .fourth__section--col2 h5,
    .fifth__section--col1 p {
      font-size: 1.1rem;
    }
    .seventh__section--col1 {
      width: 100%;
    }
    .hero--container h1 {
      font-size: 40px;
    }
    .fourth__section--col2 h2,
    .fourth__section--col2 h5,
    .fourth__section--col2 p {
      width: 100%;
    }
  }
}
